In [1]:
import numpy as np
import pandas as pd

from datamodule import DataModule

In [2]:
# tickers = pd.read_csv("./data/ticker_info.csv")
# data = pd.read_csv("./data/stock_data.csv")

In [3]:
data.head()

,date,ticker,open,high,low,close,volume,outstanding_share,turnover,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_mv,qfq_factor
0,2005-01-04,sh600000,0.77,0.77,0.75,0.76,3808939.0,900000000.0,0.004232,17.1990,14.4219,2.0777,3.1439,2.2097,6.9549,6.9549,2693520.0,8.895254
1,2005-01-05,sh600000,0.76,0.76,0.74,0.75,5225244.0,900000000.0,0.005806,16.9240,14.1913,2.0445,3.0937,2.1744,7.0679,7.0679,2650455.0,8.895254
2,2005-01-06,sh600000,0.75,0.75,0.73,0.74,4298099.0,900000000.0,0.004776,16.6991,14.0026,2.0173,3.0525,2.1455,7.1632,7.1632,2615220.0,8.895254
3,2005-01-07,sh600000,0.74,0.75,0.73,0.74,4362864.0,900000000.0,0.004848,16.7491,14.0446,2.0233,3.0617,2.1519,7.1418,7.1418,2623050.0,8.895254
4,2005-01-10,sh600000,0.75,0.77,0.74,0.77,7115260.0,900000000.0,0.007906,17.3240,14.0575,2.0082,3.1668,2.2258,6.9048,6.9048,2713095.0,8.895254

In [3]:
dm = DataModule()

In [4]:
dm.get_tickers()

...Returning Tickers...
Total available stocks: 4714

array(['sh600000', 'sh600004', 'sh600006', ..., 'sz301268', 'sz301279',
       'sz301288'], dtype=object)

In [5]:
prices, dates = dm.get_prices('sz301279', days_from_end_date=10)

In [10]:
dm.print_available_features()

open : The open price of the trading day
close : The close price of the trading day
high : The highest price of the trading day
low : The lowest price of the trading day
volume : The trading volume of the trading day
outstanding_share : A company's stock currently held by all its shareholders
turnover : A measure of stock liquidity, calculated by dividing the total number of shares traded during the trading day by the average number of shares outstanding for the same trading day.
pe : PE (price to earnings) ratio
pe_ttm : Trailing Twelve Months PE ratio: the current share price divided by thelast 4 quarterly EPS (earnings per share).
pb : PB ratio (price to book ratio)
ps : PS ratio (price to sales ratio)
ps_ttm : Trailing 12 months PS ratio
dv_ratio : Dividend yield ratio (the percentage of a company's share price that it pays out)
dv_ttm : Trailing 12 months Dividend yield ratio
total_mv : Total market capitalization
qfq_factor : The price adjustment factor

In [11]:
values, dates = dm.get_feature('pb','sz301279', days_from_end_date=10)

In [12]:
values

array([2.4922, 2.1326, 1.9233, 1.9476, 1.8514, 1.919 , 2.0668, 2.1099,
       2.1283, 2.1738, 2.0939])

In [13]:
dates

array(['2022-04-22', '2022-04-25', '2022-04-26', '2022-04-27',
       '2022-04-28', '2022-04-29', '2022-05-05', '2022-05-06',
       '2022-05-09', '2022-05-10', '2022-05-11'], dtype=object)

In [14]:
dm.get_tickers()

...Returning Tickers...
Total available stocks: 4714

array(['sh600000', 'sh600004', 'sh600006', ..., 'sz301268', 'sz301279',
       'sz301288'], dtype=object)